.container {
    padding: 12px 12px 0px 12px;
}

.container h1{
    margin-top: 52px;
}

.aboutMe {
    display: flex;
    flex-direction: column-reverse;

}

.aboutMe img{
    margin: auto;
    margin-top: 65px;
    height: auto;
    width: min(100%, 400px);

}

.aboutMe p {
    margin-bottom: 24px;
}

.tagSection {
    margin-top: 16px;
}

.tagSection p {
    margin-top: 16px;
}

.tagSectionNoPIc{
    margin-top: 16px;
}

.tagSectionNoPIc p{
    margin-top: 16px;
}

.whiteSpace{
    height: 200px;
}

@media (min-width: 650px){
    .container {
        padding: 12px 3vw 0px 3vw;
    }



}
@media (min-width: 1024px){
    .container {
        padding: 12px 6vw 0px 6vw;
    }

    .aboutMe {
        flex-direction: row;
    
    }

    .aboutMe img {
        padding-top: 70px;
    }

    .aboutMe div {
        width: 60%;
        margin-right: 40px;
    }

    .tagSection div {
        display: flex;
        align-items: center;
    }

    .tagSection p {
        margin-top: 24px;
        width: 60%;
        margin-right: 40px;
        height: 110%;
    }

    .tagSection img {
        margin-top: 24px;
    }



}
@media (min-width: 1400px){
    .container {
        padding: 12px 20vw 0px 20vw;
    }

    .tagSection {
        margin-top: 24px;
    }

}
