.container {
    padding: 12px 12px 0px 12px;
}

.CTA {
    margin-top: 42px;
    display: grid;
    grid-template: 80px 1fr /200px 1fr;
}

.CTA p {
    grid-column: 1 / 3;
}

.CTA h1 {
    align-self: center;
}

.SVGContainer{
    width: 80px;
    height: 80px;
    justify-self: flex-end;
}

.ArticlesHeading{
    margin-top: 60px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.Article {
    display: flex;
    justify-content: space-between;
}

.ArticleDate {
    align-self: center;
    text-align: end;
    width: 20vw;
    color: var(--red);
}

.ArticleContainer {
    margin-top: 20px;
}

.ArticleTitle{
    width: min(75%, 600px);
}

@media (min-width:500px){

    .CTA {
        margin-top: 80px;
        grid-template: 140px 1fr /70% 1fr;
    }
    
    .CTA p {
        grid-column: 1 / 3;
    }
    
    .CTA h1 {
        align-self: center;
    }

    .SVGContainer{
        height: 140px;
        width: 20vw;
        align-content: center;
    }
}

@media (min-width: 650px){
    
    .CTA {
        margin-top: 100px;
        grid-template: 85px 1fr /55% 1fr;
    }
    
    .CTA p {
        grid-column: 1 / 2;
    }
    
    .CTA h1 {
        align-self: center;
    }

    .SVGContainer{
        width: 35vw;
        height: 300px;
        grid-row: 1 / 3;
        justify-content: center;
    }

}

@media (min-width: 1024px){
    .container {
        padding: 12px 6vw 0px 6vw;
    }

    .ArticleTitle{
        width: 80vw;
    }
    

}
@media (min-width: 1400px){
    .container {
        padding: 12px 20vw 0px 20vw;
    }

    .CTA {
        margin-top: 100px;
        grid-template: 140px 1fr /55% 1fr;
    }

    .ArticlesHeading {
        margin-top: 110px;
    }

}