.container {
    padding: 12px 12px 0px 12px;
}

.head {
    margin-top: 80px;
}

.techInUse {
    display: flex;
    margin-top: 4px;
}

.techInUse h5 {
    color: var(--blue);
    font-weight: var(--bold);
    margin-right: 12px;
}

h1 {
    margin-bottom: 16px;
}

h4 {
    color: var(--dark);
    font-size: 18px;
}

.publiDate {
    display: flex;
    margin-top: 24px;
    margin-bottom: 8px;
}

.publiDate h5 {
    margin-right: 8px;
}

@media (min-width: 1024px){
    .container {
        padding: 12px 6vw 0px 6vw;
    }
}
@media (min-width: 1400px){
    .container {
        padding: 12px 20vw 0px 20vw;
    }
}

.htmlContent{
    white-space: pre;
    margin-top: 34px;
}