.container {
    padding: 2.5vh 23.5vw 0px 23.5vw;
    height: 97.5vh;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
}

.container h1 {
    font-size: 3.35rem;
    color: var(--red);
    font-weight: 900;
    margin-top: 125px;
    margin-bottom: 25px;
}

.container p {
    font-size: 1.25rem;
    font-weight: 400;
    width: 426px;
    position: relative;
    z-index: 10;
}

.line {
    background-color: var(--blue);
    height: 3px;
    width: 42%;
    margin-top: 46px;
    margin-bottom: 46px;
    position: relative;
    z-index: 10;
}

.myimage {
    position: absolute;
    top: 150px;
    left: 750px;
}