@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  --dark: #151414;
  --white: #EBEBEB;
  --red: #ec4a27;
  --blue: #028F99;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
  }

html {
  background-color: var(--white);
}