.container {
    display: flex;

}
.whiteSection {
    background-color: var(--white);
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.whiteSection h1 {
    width: 390px;
    height: 290px;
    font-size: 84px;
    font-weight: 800;
    margin-left: 150px;
    margin-bottom: 80px;

}

.apresentation {
    display: flex;
    align-items: flex-end;
}

.redDot {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: var(--red);
    margin-bottom: 80px;
}

.redBox {
    width: 25px;
    height: 25px;
    background-color: var(--red);
}

.blueBox {
    width: 25px;
    height: 25px;
    background-color: var(--blue);
}

.darkBox {
    width: 25px;
    height: 25px;
    background-color: var(--dark);
}

.blackSection {
    background-color: var(--dark);
    width: 60vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.blackSection p {
    color: var(--white);
    background-color: var(--dark);
}

.blackSection .graph {
    position: absolute;
    z-index: 2;
    right: 230px;
}

.whiteLine {
    width: 3px;
    height: 260px;
    background-color: var(--white);
    margin-right: 16px;
}

.CTA {
    display: flex;
    align-self: flex-end;
    margin-right: 40px;
}

.CTA p {
    height: 166px;
    width: 256px;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 400;
}

.linksContainer {
    display: flex;
    align-self: flex-start;
    transform: rotateZ(90deg);
    width: 24px;
    margin-right: 25px;
    margin-top: 38px;

}   

.miniRedDot {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: var(--red);
    position: absolute;
    left: 415px;
    top: 9px;

}

.socialLinksContainer {
    margin-bottom: 87px;
    margin-left: 150px;
}