.container {
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    transform: rotate(90deg);
}

.container p {
    font-weight: 600;
    margin-left: 22px;
    transition: color 0,3s, font-weight 0,3s;
    cursor: pointer;
    
}

.container p:hover{
    font-weight: 800;
    color: var(--red);
}

.redDot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--red);
    margin-left: 4px;
}