.container {
    padding: 2.5vh 23.5vw 0px 23.5vw;
    height: 97.5vh;
    background-color: var(--white);
}

.imageContainer {
    display: flex;
    width: 47.5%;
    height: 30%;
    justify-content: center;
    align-self: center;

}

.myProjectsHeading {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.myProjectsHeading h1 {
    font-size: 54px;
    font-weight: 900;
    color: var(--red);
    margin-bottom: 24px;
}

.myProjectsHeading p {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin-right: 150px;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.projectContainer h2{
    font-size: 32px;
    font-weight: 700;
    align-self: center;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--blue);
    margin-bottom: 120px;
}

.block {
    width: 410px;
    height: 270px;
    background-color: white;
}

.projectUnit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.projectUnit h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--red);
}

.projectUnit p{
    font-size: 16px;
    font-weight: 500;

}

.unit {
    width: 436px;
    height: 241px;
}

@media (max-width: 1444px){
    .container {
        padding: 2.5vh 10% 0px 10%;
    }
}


@media (max-width: 1024px){

    .container {
        padding: 2.5vh 5% 0px 5%;
    }

    .myProjectsHeading h1 {
        font-size: 48px;
    }

    .myProjectsHeading p {
        font-size: 16px;
        margin-right: 7.5vw;
    }

    .imageContainer{
        width: 320px;
    }

    .projectContainer {
        margin-top: 20px;
    }

    .projectContainer h2 {
        font-size: 32px;
        align-self: flex-start
    }

    .line {
        margin-bottom: 60px;
    }

    .block {
        margin-right: 24px;
    }

    .projectUnit h3 {
        font-size: 18px;
    }

    .projectUnit p {
        font-size: 14px;
    }

}

@media (max-width: 600px){

    .imageContainer {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 40px;
        width: 80px;
        top: -80px;

    }

    .myProjectsHeading{
        margin-top: 80px;
    }

    .myProjectsHeading h1 {
        font-size: 24px;
    }

    .myProjectsHeading p {
        font-size: 15px;
        margin-right: 20px;
    }

    .projectContainer h2 {
        font-size: 18px;
    }

    .projectUnit {

        display: block;
    }

    .block{
        width: 80vw;
        margin-bottom: 20px;
    }

    .unit h3 {
        margin-bottom: 12px;
    }

    .unit p {
        width: 85vw;
    }

}